<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container" style="float: left; width: 100%;">
            <div style="display: flex; flex-direction: column; float: left">
                <div style="float:left; margin-top: 1rem;">
                    <h1 class="title is-2">{{ page.title }}</h1>
                    <p class="subtitle is-3">{{ page.subtitle }}</p>
                    {% if page.hero_link %}
                        <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
                    {% endif %}
                </div>
                <div style="float: left">
                    {% for supporter in site.data.supporters %}
                        <a href="{{ supporter.url }}"><img title="{{ supporter.name }}" src="{{ supporter.logo | relative_url }}" style="height: 20px"/></a>
                    {% endfor %}
                </div>
            </div>
            <div style="float: right">
                <img src="/assets/images/snowmass-blue-small.png" style="height: 10rem; filter: drop-shadow(10px 10px 10px grey)"/>
            </div>
        </div>
    </div>
</section>